.footer {
    padding-top: 6.2rem;
    padding-bottom: 2.4rem;
    position: relative;
    width: 100%;
    display: block;

    .container {
        // width: 90%;
        // max-width: 132rem;
    }

    .logo-nav {
        width: 100%;
        position: relative;
        display: flex;
        column-gap: 8.6rem;
        margin-bottom: 5.4rem;

        .logo-wrapper {
            width: 26%;
            position: relative;
            flex-shrink: 0;

            img {
                width: 100%;
                display: block;
            }
        }

        .nav-wrapper {
            display: flex;
            column-gap: 4.4rem;

            .nav-menu {
                position: relative;

                .menu-link {
                    display: block;
                    position: relative;
                    padding: 0;
                    margin: 0 0 1.2rem 0;
                    font-size: 1.5rem;
                    font-family: "Noto Sans CJK JP";
                    color: #333;

                    &.sub-menu {
                        font-size: 1.3rem;
                        padding-left: 1.5rem;
                        margin: 0 0 0.8rem 0;
                    }
                }
            }
        }
    }
    .copyright {
        width: fit-content;
        color: #ADADAD;
        margin:  0 auto;
    }
}